.jumbotron {
    background-image: url("../images/banner.jpg");
    color: black;
    background-position: center;
    background-size: 100%;
    font-weight: bold;

 }

 h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
 }
 .retroshadow {
    color: black;
    letter-spacing: .05em;
    font: bolder;
    font-style: italic;
    text-shadow:
      1px 1px 0px #2c2c2c,
      2px 2px 0px rgba(0, 0, 0, 0.2);
      font-size: 80px
 }

